.flex{
	display: flex !important;
	margin-top: 5px;
}


.boardWrapper{
	border: solid 0.5px #c2c2c2;
	border-radius: 0.5rem;
}


.title{
	text-align: left;
	margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
	margin-right: 30px;
}

.contant{
	min-height: 500px;
}

.boardInfo{
	background-color: #f5f6f6;
	text-align: left;
}

.iconWrapper{
	margin-left: 30px;
	position: relative;
}

.iconWrapper svg{
	position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.time{
	margin-left: auto;
	margin-right: 20px;
}

.table{
	margin-top: 20px;
}

.buttonList{
	margin: 20px;
}

.f{
	margin-top: 5px;
}

.bi{
	
}