@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.hrLine{
	border:0;
	width:600px;
	height:3px;
	background-color:blue;
}

a {
	text-decoration: none;
}

.orderList{
	color:black;
	font-size:24px;
}

.orderQty{
	color:gray;
	font-size:24px;
}

.clientTable{
	width:90%;
	margin:auto;
}

.main_Wrap{
	position: relative;
    height: 100%;
    display: flex;
    flex: 1;
}

.c_Container{
    position: relative;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    flex: none;
    width: 155px;
    cursor: pointer;
	margin: 20px;
}

.c_List{
	position: relative;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: row;
    flex: none;
    width: 95px;
    cursor: pointer;
    border-radius: 4px;
    background: #1f8ce6;
    color: #fff;
    margin: auto;
    align: center;
    }

.n_Wrap{
	position: relative;
    height: 100%;
    display: flex;
    flex: 1;
}

.n_Title{
	cursor: default;
	margin: 20px;
    padding: 0;
    position: relative;
    font-weight: 600;
}

.n_Container{
	cursor: default;
    margin-top: 30px;
	display: flex;
    flex-direction: row;
    position: relative;
	width: 85%;
	flex-wrap: wrap;
	justify-content: space-around;
	flex: 1;
}

.n_image{
	width: 100px;
	height: 100px;
}

.view .top{
	height: 50px;
	background-color: #f2f4f5;
	position: fixed;
	width: 100%;
	transform: translateY(0%);
	transition:all 0.5s ease;
}

.view .content{
	width: 720px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 50px
}

.view .icon{
	margin-left: auto;
	display: flex;
}
.view .top svg{
	margin-top: auto;
	margin-bottom: auto;
}

.view .icon svg{
	margin-right: 10px;
}

.view .bot{
	position: fixed;
    bottom: 0px;
    width: 100%;
    transform: translateY(0%);
    background-color: #f2f4f5;
    transition:all 0.5s ease;
}

.view .content{
	width: 720px;
    margin: auto;
}

.view p{
	margin: 0px;
	font-size: 20px;
}

.hide{
	transform: translateY(-100%)!important;
}

.hide.bot{
	transform: translateY(100%)!important;
}


.clientNovelInfoWrapper{
	width: 800px;
	margin: auto;
	margin-top: 40px;
}

.clientNovelInfo .notice{
	width: 130px;
	height: 40px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #a0a0a0;
	position: relative;
	margin-top: 20px; 
}

.clientNovelInfo svg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.thumbnail{
	width: 200px;
	height: 300px;
}

.clientNovelInfo .info{
	margin-left: 20px;
}

.clientNovelInfo .title{
	font-size: 30px;
}

.clientNovelInfo .detail{
	margin-top: 20px;
}

.clientNovelInfo .contant{
	margin-top: 20px;
}

.clientNovelInfo .notice.active{
	background-color: #0d6efd;
	color: white;
}

.listEpisode{
	margin-top: 50px;
}

.listEpisode .list-group p{
	margin-bottom: 0px;
	font-size: 5px;
}




.review_chart{
	width: 169px;
}

.review_wrapper{
	width: 800px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.review .form-label{
	font-size: 40px;
}

.review button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
}

.review_content{
	display: flex;
}

.review_form{
	width: 631px;
	position: relative;
}

.stars{
	display: flex;
	justify-content: center;
}

.stars .bi{
	font-size: 60px;
}


.stars .bi.click{
	color: orange;
}

.review_list{
	margin-top: 60px;
}

.review_section{
	display: flex;
}

.count_1 .user_score:nth-child(-n+1){
	color: orange;
}

.count_2 .user_score:nth-child(-n+2){
	color: orange;
}

.count_3 .user_score:nth-child(-n+3){
	color: orange;
}

.count_4 .user_score:nth-child(-n+4){
	color: orange;
}

.count_5 .user_score:nth-child(-n+5){
	color: orange;
}

.review_score{
	position: relative;
	height: 24px;
	width: 80px;
}



.review_chart_star{
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
}

.review_chart_star.fill{
	overflow: hidden;
}

.fill .bi-star-fill{
	color: orange;
}

