*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    margin: 0px;
}


header .container-fluid{
    width: 79.2%;
    max-width: 1170px;
}

.content{
    width: 79.2%;
    max-width: 1170px;
    margin: auto;
}



header .nav{
    width: 79.2%;
    max-width: 1170px;
    margin: auto;
}

header .navbar-collapse form{
    margin-right: 6px;
    width: 300px;
    margin-left: auto;
}

.mainpage .btn-group{
    margin-top: 40px;
}

.mainpage .btn-group button.btn{
    border-radius: 50px !important;
    width: 80px;
    margin-right: 10px;
}

.mainpage .slide{
    margin-top: 20px;
}




.left_card{
    margin-top: 20px;
}


.left_card .col-auto img{
    width: 80px;
    height: 116px;
}

.cardslide .carousel-control-next-icon{
    background-color: #d3d3d3;
    border-radius: 100%;
    position: absolute;
    left: 110px;
}

.cardslide .carousel-control-prev-icon{
    background-color: #d3d3d3;
    border-radius: 100%;
    position: absolute;
    right: 110px;
}