*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    margin: 0px;
}



.marginauto{
	margin: auto;
}

header .container-fluid{
    width: 79.2%;
    max-width: 1170px;
}

.content{
    width: 79.2%;
    max-width: 1170px;
    margin: auto;
}



header .nav{
    width: 79.2%;
    max-width: 1170px;
    margin: auto;
}

header .navbar-collapse form{
    margin-right: 6px;
    width: 300px;
    margin-left: auto;
}

.mainpage .btn-group{
    margin-top: 40px;
}

.mainpage .btn-group button.btn{
    border-radius: 50px !important;
    width: 80px;
    margin-right: 10px;
}

.mainpage .slide{
    margin-top: 20px;
}




.left_card{
    margin-top: 20px;
}


.left_card .col-auto img{
    width: 80px;
    height: 116px;
}

.cardslide .carousel-control-next-icon{
    background-color: #d3d3d3;
    border-radius: 100%;
    position: absolute;
    left: 110px;
}

.cardslide .carousel-control-prev-icon{
    background-color: #d3d3d3;
    border-radius: 100%;
    position: absolute;
    right: 110px;
}

.login{
	background-color: #EBF6FF;
	min-width: 100vh;
    min-height: 100vh;
}

.login .head{
	position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.login .form{
	margin:auto;
	padding-top:150px;
	height: 300px;
	width: 360px;
}

.login button{
	margin: auto;
	width: 100%;
	height : 40px;
	margin-top: 10px;
}

.login .form-check{
	display: flex;
	margin-top: 10px
}

.login .find{
	margin-left: auto;
}


.flex{
	display: flex;
}

.login .inputWrapper{
	margin-top: 5px;
}

.login .birth{
	width: 60%
}

.login .btn-group{
	margin-left: auto;
}

.login .text{
	text-align: center;
    color: #0d6efd;
    font-size: 30px;
    margin-bottom: 30px;
}

.sighup .checkWrapper{
	flex-wrap: wrap;
}

.sighup .inputWrapper{
	margin-top: 5px;
}
.sighup .form-check{
	width: 33%;
}

.sighup .form-check-input{
	margin-right: 5px;
}


.notice_bell{
	position: relative;
}


.notice_bell .arrow_box {
  transform: translate(-83px,5px);
}

.notice_bell .content{
	word-break:break-all;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	border: 0.5px solid;
	border-radius: 10px;
	margin-top: 1px;
}

.arrow_box_wrapper{
	position: relative;
}

.arrow_box {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 250px;
  padding: 8px;
  left: 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border:1px solid #ced4da;
  font-size: 14px;
  z-index: 100;
  overflow: auto;
}

.arrow {
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
}

.hidden{
	display: none!important;
}
