






.flex{
	display: flex !important;
	margin-top: 5px;
}

.noticeWrapper{
	border: solid 0.5px #c2c2c2;
	border-radius: 0.5rem;
}

.title{
	margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
	margin-right: 30px;
	
	text-align: center;
}

.contant{
	min-height: 500px;
}

.noticeInfo{
	background-color: #f5f6f6;
	text-align: center;
}

.iconWrapper{
	margin-left: 30px;
	position: relative;
}

.iconWrapper svg{
	position: ralative;
    top: 25%;
    right: 25px;
    transform: translateY(-50%);
}
