<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="com.mvc.withbooks.model.adminSuggestMapper"> 

	 <insert id="insertAdminSuggest" parameterType="AdminSuggestDTO">
	 	insert into adminSuggest(Sunum, SuggestNovel, Nnum) values(seq_adminSuggest.nextval,#{suggestNovel},#{novelDTO.nnum})
	 </insert>
	 
	 <delete id="deleteAdminSuggest" parameterType="int">
	   delete from adminSuggest where Sunum= #{Sunum}
	 </delete>
	 
	 <select id="listNovel" parameterType="java.util.Map" resultType="NovelDTO">
	  select * from (select rownum rn, A.* from (select * from novel order by Nnum desc)A) where rn between #{start} and #{end}
	 </select>
	 
	 <select id="listAdminSuggest" parameterType="java.util.Map" resultType="AdminSuggestDTO">
	 	select * from (select rownum rn, A.* from (select * from adminSuggest order by sunum desc)A) where rn between #{start} and #{end}
	 </select>
	 
	 <select id="findAdminSuggest" parameterType="String" resultType="AdminSuggestDTO">
	 	select * from adminSuggest where ${search} = #{searchString}
	 </select>
	 
	 <select id="findNovelAdmin" parameterType="String" resultType="NovelDTO">
	 	select * from novel where ${search} = #{searchString}
	 </select>
 
 	 <select id="getSuggestCount" resultType="int">
		select count(*) from adminSuggest
	 </select>
	 
	 <select id="getNovelCount" resultType="int">
		select count(*) from novel
	 </select>
 </mapper>