<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="com.mvc.withbooks.model.categoryMapper"> 
 
 	<insert id="insertCategory" parameterType="categoryDTO">
 		insert into category(Cnum,Cate_name) values(seq_category.nextval,#{cate_name})
 	</insert>
 	
 	<select id="listCategory" resultType="categoryDTO">
 		select * from category
 	</select>
 	
 	<select id="selectCate" parameterType="int" resultType="String">
 		select cate_name from category where cnum = #{cnum}
 	</select>
 	
 </mapper>