<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.mvc.withbooks.model.heartMapper">
	<insert id="insertHeart" parameterType="java.util.Map">
		INSERT INTO HEART(HNUM, MNUM, NNUM, HEART_REGDATE)VALUES(SEQ_HEART.nextval, #{mnum},#{nnum}, sysdate)
	</insert>
	
	<delete id="deleteHeart" parameterType="java.util.Map">
		delete from HEART where hnum = #{hnum}
	</delete>
	
	<select id="getHeart" parameterType="java.util.Map" resultType="HeartDTO">
		SELECT HNUM FROM HEART where mnum = #{mnum} and nnum = #{nnum}
	</select>
	
	<select id="listHeart" parameterType="java.util.Map" resultType="HeartDTO" resultMap="heartDTO">
		select * from (select rownum rn, A.* from (SELECT h.*,n.NOVEL_IMAGE,n.NOVEL_SUBJECT  FROM HEART h INNER JOIN NOVEL n ON h.NNUM =N.NNUM)A) where rn between #{start} and #{end}
	</select>
	
	<select id="getHeartCount" resultType="int">
		select count(*) from HEART
	</select>
	
	<select id="findHeart" parameterType="java.util.Map" resultType="HeartDTO">
		select * from HEART where ${search} = #{searchString}
	</select>
	
	<resultMap id="heartDTO" type="com.mvc.withbooks.dto.HeartDTO">
		<id column="HNUM" property="hnum"/>
		<result column="HEART_REGDATE" property="heart_regDate"/>
        <association property="novelDTO" column="NNUM" resultMap="novelDTO" />
	</resultMap>
	
	<resultMap id="novelDTO" type="com.mvc.withbooks.dto.NovelDTO">
		<id column="NNUM" property="nnum"/>
        <result column="NOVEL_IMAGE" property="novel_image"/>
        <result column="NOVEL_SUBJECT" property="novel_subject"/>
	</resultMap>
	
</mapper>