<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mvc.withbooks.model.memberMapper"> 
	<select id="listMember" resultType="memberDTO">
		select * from member
	</select>
	
	<select id="findMember" parameterType="java.util.Map" resultType="memberDTO">
		select * from member where ${search} = #{searchString}
	</select>

	<insert id="insertMember" parameterType="memberDTO">
		insert into member(Mnum, Member_name, Member_id, Member_passwd, Member_Tel, Member_address, Member_email, Member_birth, Member_sex, Member_preferred1, Member_preferred2, Member_preferred3,Member_authority, cash)
		 values(seq_member.nextval, #{Member_name}, #{Member_id}, #{Member_passwd}, #{Member_Tel}, #{Member_address},
				#{Member_email}, #{Member_birth}, #{Member_sex}, #{Member_preferred1,jdbcType=VARCHAR}, #{Member_preferred2,jdbcType=VARCHAR}, #{Member_preferred3,jdbcType=VARCHAR}, #{Member_authority,jdbcType=VARCHAR}, 0)
	</insert>

	<delete id="deleteMember" parameterType="int">
		delete from member where Mnum = #{mnum}
	</delete>
	
	<update id="updateMember" parameterType="memberDTO">
		update member set Member_passwd=#{Member_passwd}, Member_Tel=#{Member_Tel}, Member_address=#{Member_address},
										Member_email=#{Member_email}, Member_preferred1=#{Member_preferred1,jdbcType=VARCHAR}, Member_preferred2=#{Member_preferred2,jdbcType=VARCHAR},
										 Member_preferred3=#{Member_preferred3,jdbcType=VARCHAR}, Member_authority=#{Member_authority,jdbcType=VARCHAR} where Mnum = #{mnum} 
	</update>
	
	<select id="getMember" parameterType="int" resultType="memberDTO">
		select * from member where mnum = #{mnum}
	</select>
	
	<select id="checkMember" parameterType="java.util.Map" resultType="memberDTO">
		select * from member where Member_id=#{Member_id} and Member_Tel=#{Member_Tel}
	</select>
	
	<select id="searchMember" parameterType="java.util.Map" resultType="memberDTO">
		${sql}
	</select>
	<select id="getMemberId" parameterType="String" resultType="memberDTO">
		select * from member where Member_id = #{Member_id}
	</select>
	<update id="updateCash" parameterType="java.util.Map">
		update member set cash=cash+#{cash} where Mnum=#{mnum}
	</update>
	<update id="updateAuthority">
		update member set Member_authority=#{Member_authority} where Mnum = #{mnum}
	</update>
	<select id="searchNovelSubject" parameterType="int" resultType="novelDTO">
		select * from novel where Novel_subject like '%#{searchString}%'
	</select>
	<select id="searchNovelMemberName" parameterType="java.util.Map" resultType="novelDTO">
		select * from novel where Novel_memberName like '%#{searchString}%'
	</select>
</mapper>