<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
 <mapper namespace="com.mvc.withbooks.AdminNoticeMapper">
 
 <insert id="insertAdminNotice" parameterType="AdminNoticeDTO">
 	insert into adminNotice(Nonum,Notice_title,Notice_content,Notice_reg_date) values(seq_adminNotice.nextval, #{Notice_title}, #{Notice_content}, #{sysdate})
 </insert>
 
 <update id="updateAdminNotice" parameterType="AdminNoticeDTO">
 	update adminNotice set Notice_title=#{Notice_title}, Notice_content=#{Notice_content}, Notice_reg_date=#{sysdate} where Nonum=#{Nonum}
 </update>
 
 <delete id="deleteAdminNotice" parameterType="int">
 	delete from adminNotice where Nonum=#{Nonum}
 </delete>
 
 <select id="listNotice" resultType="AdminNoticeDTO">
 	select * from adminNotice
 </select>
 
 <select id="searchNotice">
 
 </select>
 
 </mapper> 