<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mvc.withbooks.model.noticeEpisodeMapper"> 
	<insert id="sendNoticeEpisode" parameterType="NoticeEpisodeDTO">
		INSERT INTO NOTICE_EPISODE(NENUM, SENDTIME,EPNUM, MNUM) VALUES (NOTICE_EPISODE_SEQ.nextval, sysdate,#{noticeEpisodeDTO.episodeDTO.epnum},1);
	</insert>
</mapper>