<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mvc.withbooks.model.novelMapper"> 
	<select id="writerListNovel" resultType="NovelDTO">
		select * from novel
	</select>
	
	<select id="listmemberNovel" resultType="NovelDTO">
		select Nnum, Novel_subject, Novel_memberName, Novel_image, Novel_cate, Novel_summary from novel, member where novel.Mnum = member.Mnum and member.Mnum = #{Mnum}
	</select>
	
	<insert id="insertNovel" parameterType="NovelDTO">
		insert into novel(Nnum, Novel_subject, Novel_memberName, Novel_image, Novel_cate, Novel_summary, Mnum) values(seq_novel.nextval, #{Novel_subject}, #{Novel_memberName}, #{Novel_image}, #{Novel_cate}, #{Novel_summary}, #{memberDTO.mnum})
	</insert>

	<delete id="deleteNovel" parameterType="int">
		delete from novel where Nnum = #{nnum}
	</delete>
	
	<update id="updateNovel" parameterType="NovelDTO">
		update novel set Novel_subject=#{Novel_subject}, Novel_memberName=#{Novel_memberName}, Novel_image=#{Novel_image}, Novel_summary=#{Novel_summary} where nnum = #{nnum} 
	</update>
	
	<select id="getNovel" parameterType="int" resultType="NovelDTO">
		select * from novel where Nnum = #{nnum}
	</select>
	
	<select id="findNovel" parameterType="java.util.Map" resultType="NovelDTO">
		select * from novel where ${search} = #{searchString}
	</select>
	
	<select id="findNovelMain" parameterType="java.util.Map" resultType="NovelDTO">
		select * from novel where Novel_subject like '%'||#{searchString}||'%'
	</select>
	
	<select id="getNovelCount" resultType="int">
		select count(*) from novel
	</select>
	
	<select id="listForCate" parameterType="String" resultType="NovelDTO">
		select novel_image, novel_subject, novel_memberName from novel n inner join category c on (n.novel_cate=c.cate_name) where novel_cate=#{selectCate}
	</select>
	
</mapper>