<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.withBooks.model.purchaseHistoryMapper"> 
	<select id="purchaseHistoryList" resultType="PurchaseHistoryDTO" parameterType="int">
		select Novel.Novel_image, Novel.Novel_subject, Novel.Novel_cate, PurchaseHistory.Purchase_date from Novel, PurchaseHistory where Novel.Mnum = PurchaseHistory.Mnum and Novel.Mnum = #{memberDTO.getMnum}
	</select>
	
	<insert id="insertPurchase" parameterType="java.util.Map">
		insert into PurchaseHistory(Phnum, EPNUM, Purchase_date, Purchase_price, Mnum, Nnum) values(seq_purchaseHistory.nextval, #{epnum}, sysdate, #{Purchase_price}, #{mnum}, #{nnum})
	</insert>
	
	<select id="purchaseHistoryCheckList" parameterType="int" resultType="java.util.List">
		SELECT EPNUM FROM PURCHASEHISTORY WHERE MNUM =#{mnum}
	</select>
	
</mapper>