<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	
<mapper namespace="com.mvc.withBooks.model.requestWriterMapper">
	<select id="listRequestWriter" resultType="RequestWriterDTO">
 		select * from (select rownum rn, A.* from (select * from RequestWriter order by Rwnum desc)A) where rn between #{start} and #{end}
 	</select>

	<select id="getRequestWriter" parameterType="int" resultType="RequestWriterDTO">
 		select * from RequestWriter where Rwnum = #{Rwnum}
 	</select>
 	
 	<insert id="insertRequestWriter" parameterType="RequestWriterDTO">
 		insert into RequestWriter(Rwnum,RequestWriter_writer,RequestWriter_subject,RequestWriter_reg_date,RequestWriter_content,Mnum) values(seq_requestWriter.nextval, #{RequestWriter_writer}, #{RequestWriter_subject}, sysdate, #{RequestWriter_content},#{memberDTO.mnum})
 	</insert>
 	
 	<select id="updateRequestWriter" parameterType="int">
 		update RequestWriter set RequestWriter_writer=#{RequestWriter_writer}, RequestWriter_subject=#{RequestWriter_subject}, RequestWriter_content=#{RequestWriter_content} where Rwnum=#{Rwnum}
 	</select>

	<select id="getRequestWriterCount" resultType="int">
		select count(*) from RequestWriter
	</select>
	
	<select id="findRequestWriter" parameterType="java.util.Map" resultType="BoardDTO">
		select * from RequestWriter where ${search} = #{searchString}
	</select>

</mapper>